.field {
    width: 100px;
    height: 100px;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(116, 55, 31);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}